/* ====================================== */
/* Basic setup */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.2%;
}
body{
	font-family: 'Titillium web','Shadows Into'sans-serif;
}

ul li{
	list-style-type: none;
}

h1{
	font-size: 4.2rem;
	margin: 1.50em 0;
	color: #fff;
}

h2{
	font-size: 2.8rem;
	text-align: center;
	margin-top: 4rem;
	text-transform: uppercase;
	margin-bottom: .2rem solid black;

}
section {
    padding: 5rem;
		overflow: hidden;
}
h2::after{
	content: "";
	display: block;
	height: .4rem;
	background: #ddd;
	width: 9rem;
	margin: auto;
	margin-top: 1.5rem;
	transition: 0.5s;

}
h2:hover::after{
	width: 13rem;
	background: crimson;
}
/*====================================== */
/* Reusable*/
.row{
	max-width: 114rem;
	margin: 0 auto;
}
.btn:link,
.btn:visited,
.btn{
	background: #333;
	border-bottom: .3rem solid #000;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.2rem 3rem;
	margin-top: 4.5rem;
	font-size: 1.6rem;
	animation: text 1s ease;


}
/*======================================= */
/*Header section */
header{
	background : linear-gradient(rgba(135,80,156,0.9),rgba(135,80,156,0.9)), url(kisspng-logo-shopping-shopping-logo-design-5a6db6532c7f63.6926652415171395391823.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 85vh;
	position: relative;

}
.logo{
  height: 3.4rem;
	width: auto;
	margin-top: 2.5rem;
	float: left;
}
/* Main nav */
.main-nav{
	float: right;
	margin-left: 4rem;
	margin-top: 3.5rem;

}
.main-nav li{
	display: inline-block;
  margin-left: 3rem;
}
.main-nav li:first-child{
  margin-left: 0;
}
.main-nav li a:link,
.main-nav li a:visited{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background: transparent;
	padding: .6rem 1rem;
	border-radius: 3px;
	display: inline-block;
	font-size: 1.6rem;
	transition: 0.3s;


}

.main-nav li:hover a:link,
.main-nav li:hover a:visited{
  background: rgba(100,58,121,1);
}
.active{
   background: rgba(100,58,121,1);
}
.hero-text-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.btn-hero:link,
.btn-hero:visited{
	background: #eb7d4b;
	border-color: #c86a46;
	margin-top: 4.5rem;

}
.text1{
   animation: text 3s ease;
	 line-height: 5rem;
}
@keyframes text {
   0%{
		transform: translateY(20rem);
	 }
	 100%{
		 transform: translateY(0);
	 }
}
/*==== Services section start ======*/
.little-disc{
	font-size: 1.6rem;
	text-align: center;
	margin-top: 2rem;
}
.web{
  margin-top: 4rem;
	border: .2rem solid #ddd;

}
.web img{
	width: 10rem;
	height: 10rem;
	text-align: center;
}
.imgdiv{
	text-align: center;
}
.shopingh3{
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
  margin-top: 1.5rem;
}
.web p{
	font-size: 1.8rem;
	text-align: center;
	margin-top: 4rem;
	color: #515151;
}
.web:hover{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	cursor: pointer;
}
.web a{
	font-size: 2rem;
	padding: 1rem 1rem;
	background: #5199f4;
	color: #fff;
  border: .1rem solid #ddd;
	text-decoration: none;
	border-bottom: 2rem solid #fff;
	border-radius: 3rem;
	transition: .5s;
	cursor: pointer;

}
.web a:hover{
	background: transparent;
	color: #ddd;
	border: .2rem solid #ddd;
}
.Btns {
    font-size: 2rem;
    align-items: center;
    text-align: center;
		margin-bottom: 3rem;
		margin-top: 2rem;

	}
/*==== Services section end ======*/
/*====Product  section start ======*/
#Product {
	background: linear-gradient(rgba(255,221,153,0.9),rgba(255,221,156,0.9)), url(rugged-1-600x450.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
/* media queries - portfolio */


#portfolio {
	background: #111417;
	padding-top: 120px;
	border-bottom: 1px solid #15191d;
}

#portfolio .row.items {
	max-width: 1260px;
	margin-top: 24px;
}

/* media queries - portfolio */

@media only screen and (max-width:1300px) {
	#portfolio .row.items {
		width: 100%;
		padding: 0;
	}

	#portfolio .row.items .columns {
		padding: 0;
	}

}

/* portfolio content */
#portfolio-wrapper {
	margin-top: 36px;
}

#portfolio-wrapper:before,
#portfolio-wrapper:after {
	content: "";
	display: table;
}

#portfolio-wrapper:after {
	clear: both;
}

#portfolio-wrapper .bgrid {
	padding: 0;
}

.folio-item .item-wrap {
	background: #111417;
	overflow: hidden;
	position: relative;
}

.folio-item .item-wrap a {
	display: block;
	cursor: pointer;
	position: relative;
}

/* overlay */
.folio-item .item-wrap .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.85);
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.folio-item .item-wrap .link-icon {
	display: block;
	height: 30px;
	width: 30px;
	margin-left: -15px;
	margin-top: -15px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	position: absolute;
	top: 50%;
	left: 50%;
}

.item-wrap img{
  width: 30rem;
	height: 30rem;
}

.folio-item .item-wrap img {
	vertical-align: bottom;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.folio-item .portfolio-item-meta {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 20%;
	left: -100px;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.folio-item .portfolio-item-meta h5 {
	font: 14px/21px "raleway-bold", sans-serif;
	letter-spacing: 2px;
	color: white;
	margin: 0;
}

.folio-item .portfolio-item-meta p {
	font: 14px/18px "raleway-semibold", sans-serif;
	color: #8A8A8A;
	margin: 0;
}

/* on hover */
.folio-item:hover .overlay,
.folio-item:hover .link-icon,
.folio-item:hover .portfolio-item-meta {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
}

.folio-item:hover .portfolio-item-meta {
	left: 0;
}

.folio-item:hover .item-wrap img {
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

/* media queries - .portfolio-item-meta */

@media only screen and (max-width:500px) {
	.folio-item .portfolio-item-meta {
		top: 16%;
	}

	.folio-item .portfolio-item-meta h5 {
		font: 13px/21px "raleway-bold", sans-serif;
		letter-spacing: 1px;
	}

	.folio-item .portfolio-item-meta p {
		font: 13px/18px "raleway-semibold", sans-serif;
	}

}

@media only screen and (max-width:400px) {
	.folio-item .portfolio-item-meta {
		top: 12%;
	}

	.folio-item .portfolio-item-meta h5 {
		font: 11px/18px "raleway-bold", sans-serif;
		letter-spacing: 1px;
	}

	.folio-item .portfolio-item-meta p {
		font: 11px/16px "raleway-semibold", sans-serif;
	}

}
#Product .little-disc{
	margin-bottom: 6rem;
}

/* overlay at start */
.mfp-fade.mfp-bg {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	opacity: 0.8;
	zoom: 1;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* content animate in */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}



/*==== Product Services section end ======*/
/*==== Product Services section end ======*/

#Team{

	text-align: center;
}
.portfolio-filter{
	margin: 4.5rem 0;
}
.portfolio-filter button{
	background: #ddd;
	font-size: 1.8rem;
	padding: 1rem 2rem;
	border-radius: .5rem;
	text-transform: uppercase;
	color: #3c4761;
	margin: 0 .5rem;
	transition: .5s;
}
.portfolio-filter button:hover{
	cursor: pointer;
	box-shadow: inset 0 .3rem .5rem #3c4761;
}
.portfolio-image{
width: 22rem;
height: 22rem;
}
.box h4{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: uppercase;
	margin: 2.5rem;
}
#Team .btn-load-more{
	background: #17c2a4;
	border-color: #14a58c;
}

/*==== Product Services section end ======*/
/* 13. =footer
/* =================================================================== */

footer {
	padding-top: 60px;
	padding-bottom: 24px;
	background: #373737;
	position: relative;
	color: rgba(255, 255, 255, 0.15);
}

.info p {
    font-size: 2rem;
}

footer .content {
	margin-bottom: 12px;
}

footer a,
footer a:visited {
	color: #a3a4a6;
}

footer a:hover,
footer a:focus {
	color: #fdc501;
}

footer hr {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	max-width: 400px;
	width: 80%;
	border-top: 1px solid rgba(150, 150, 150, 0.1);
}

footer .info {
	width: 90%;
	max-width: 600px;
	margin: 42px auto 36px;
	text-align: center;
	clear: both;
}

footer .footer-logo {
	width: 100px;
	height: 23px;
	background: url("../images/logoW@2x.png") no-repeat center;
	background-size: 100px 23px;
	margin: 0 auto 21px;
	display: block;
	filter: alpha(opacity=10);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	opacity: 0.1;
	zoom: 1;
}

/* copyright */
footer .copyright {
	clear: both;
	margin: 15px 0;
	padding: 24px 18px 6px 18px;
	font: 14px/24px "raleway-medium", sans-serif;
	letter-spacing: .5px;
	text-align: center;
}

footer .copyright li {
	display: inline-block;
	padding: 0 5px;
}

/* social links */
footer .social-links {
	margin: 30px auto 42px auto;
	padding: 0;
	font-size: 38px;
	text-align: center;
}

footer .social-links li {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 32px;
}

footer .social-links li a {
	color: rgba(255, 255, 255, 0.1);
}

footer .social-links li a:hover {
	color: white;
}

footer .social-links li:first-child {
	margin-left: 0;
}

/* media queries - .social-links */

@media only screen and (max-width:600px) {
	footer .social-links {
		font-size: 32px;
	}

	footer .social-links li {
		margin-left: 18px;
	}

}

@media only screen and (max-width:450px) {
	footer .social-links {
		font-size: 28px;
	}

	footer .social-links li {
		margin-left: 14px;
	}

}

@media only screen and (max-width:400px) {
	footer .social-links {
		font-size: 25px;
	}

	footer .social-links li {
		margin-left: 12px;
	}

}

@media only screen and (max-width:350px) {
	footer .social-links {
		font-size: 22px;
	}

	footer .social-links li {
		margin-left: 10px;
	}

}

/* responsive Design*/
@media only screen and (max-width:1024px) {

		 .logo{
			 padding-left: 4rem;
		 }
		 .main-nav{
			 padding-right: 4rem;
		 }
    .hero-text-box h1{
			font-size: 3.5rem;
		}
		.little-disc {
	    line-height: 2.3rem;
   }
}

@media only screen and (max-width:768px) {

	.menu-toggle{
		float: right;
		padding-right: 4rem;
		margin-top: 3rem;
		font-size: 3rem;
    display: block;
		cursor: pointer;
  }
	.main-nav{
		display: block;
		float: left;
	}
	header nav{
	position: absolute;
	width: 100%;
  height: calc( 11vh - -32rem);
	background: #333;
	top: 6rem;
	left: -100%;
	transition: 0.5s;
	z-index: 9999;
	}
	header nav.active{
		left: 0;
	}
	header nav ul a {
		font-size: 16px;
		color: #fff;
		text-align: center;
		padding: 1rem 2rem;
		border: .1rem solid #6a6969;
}

.main-nav li a {
    width: 100%;
    height: 0vh;

}
.main-nav li:first-child {
    margin-left: 29px;
}
header nav ul{
	text-align: center;
}

	.main-nav li a{
		display: block;
		width: 100%;
		height: 4vh;
		background: black;
		top: 8rem;
		left: -100%;
		text-align: center;
		transition: .5 ease;
	}
	.main-nav li {
    display: block;
		padding: 2.3rem 0;
    text-align: center;
}

	.main-nav {
	 padding-right: 2rem;
}
nav ul.show{
	left: 0;
}
.hero-text-box h1{
	font-size: 3rem;
}
.portfolio-image {
    width: 14rem;
    height: 14rem;
}


}

@media only screen and (max-width:480px) {
	.hero-text-box h1{
		font-size: 2.5rem;
	}
	header nav {
    width: 100%;
    height: calc( 11vh - -49rem);
    z-index: 9999;
}
.portfolio-filter button {

    padding: 0rem 1rem;

}
footer .social-links {
    font-size: 24px;
}


}

@media only screen and (max-width:400px) {
	.portfolio-filter button {
    padding: 0rem 0rem;
}
header nav {
	width: 100%;
	height: calc( 11vh - -49rem);
	z-index: 9999;
}


}
